@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

body {
  background: #EEEEF4;
  color:#999;
  font-family:Roboto;
}

h1{
  font-weight:100;
  font-size:27pt;
  color:#FFB6C1;
}

p{font-weight:300;}

.warning-content {
position:absolute;
  width:95%;
  height:300px;
  text-align:center;
  margin:0;
}
#textIdmail{
    padding: 0vh 25vh 0vh 25vh !important;
}

@media screen and (max-width: 768px) {
    #textIdmail{
    padding: 5px !important;
}
  }